{
    "semi": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "singleQuote": false,
    "bracketSpacing": true,
    "useTabs": false,
    "bracketSameLine": false,
    "trailingComma": "none"
}
